/* container plus les modes d'affichages écrans sur la page d'accueil */
.container {

    main {
        margin: 0 auto;
        max-width: map-get($resolutionDisplay,max-desktop);
    }

    dd {
        margin-inline-start:0em;
    }

    @include max-mobile {

        #Fonctionnement ol {
            display: block;
        }

        .listing-restaurants a, .listing-restaurants img {
            width: map-get($size-restaurantWidth, mobile);
        }

        .listing-restaurants > div {
            flex-direction: column;
        }

        .btn-heart {
            transition: opacity 880ms;

            &:active {
                opacity:1;
                transform: translateY(-100%) scale(1.05);
                transition: transform 1500ms;
            }
        }

        .menu-restaurant {
            .plat {

                &:active + .check {
                    margin-right: 0rem;
                    > i {
                        transform: rotate(1turn);
                        transition: transform 1500ms ease-in-out;
                    }
                }
            }
        }
    }

    // résolution minimum-maximum tablette 
    @include max-tablet {

        #Fonctionnement {
        
            ol { 
                display:flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                & li {
                    width: 330px;
                    margin-right: 2em;
                }
            }
        }
        
        .listing-restaurants a, .listing-restaurants img {
           width: map-get($size-restaurantWidth, tablette);
        }

        .listing-restaurants > div {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .menu-restaurant {
            width: 100%;
        }

        .btn-heart {

            &:active {
                opacity:1;
                transform: translateY(-100%) scale(1.05);
                transition: transform 1500ms;
            }
        }

        .menu-restaurant {
            .plat {

                &:active + .check {
                    margin-right: 0rem;
                    > i {
                        transform: rotate(1turn);
                        transition: transform 1500ms ease-in-out;
                    }
                } 
            }
        }

    }

    // resolution de transition entre tablette et mobile
    @include mode-customizeMin (map-get($resolutionDisplay, max-tablet)) {

        #Fonctionnement {
        
            ol { 
                display:flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                & li {
                    width: 330px;
                    margin-right: 2em;
                }
            }
        }

        .listing-restaurants a, .listing-restaurants img {
            width: map-get($size-restaurantWidth, desktop);
         }

         .listing-restaurants > div {
            flex-wrap: wrap;
            justify-content: space-around;
        }


        main .menus {
            display:flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            background: map-get($color-backgrdGrey,light);
        }

        .menu-restaurant {
            margin-right: 15px;
            width:480px;
        
            article {
                width:464px;
            }
        }

        .btn-heart {
            
            &:hover {
                opacity:1;
                transform: translateY(-100%) scale(1.05);
                transition: transform 1500ms;
            }
        }

        .menu-restaurant {
            .plat {

                &:hover + .check {
                    margin-right: 0rem;
                    > i {
                        transform: rotate(1turn);
                        transition: transform 1500ms ease-in-out;
                    }
                } 
            }
        }
    }

    // résolution minimum desktop
    @include mode-customizeMinMax ("1150px", map-get($resolutionDisplay, max-desktop)) {

        .listing-restaurants > div {
              flex-wrap: wrap;
              justify-content: space-around;
          }

        .menu-restaurant {
            width:480px;
            padding-right: 0px;
            margin-top: 1em;
            margin-right: 4%;
            margin-left: 1%;

            article {
                width:464px;
            }

            .btn-heart {
            
                &:hover {
                    opacity:1;
                    transform: translateY(-100%) scale(1.05);
                    transition: transform 1500ms;
                }
            }
        }

    }

    @include mode-customizeMin (map-get($resolutionDisplay, max-desktop)) {
        
        #Fonctionnement {
        
            ol { 
                justify-content: space-around;
            }
        }
    
        .listing-restaurants > div {
           // justify-content: flex-start;
            
            a {
                margin-right: 15px;
            }
        }

        .menu-restaurant {
            margin-right: 20px;
            width:480px;
        
            article {
                width:464px;
            }

            .btn-heart {
            
                &:hover {
                    opacity:1;
                    transform: translateY(-100%) scale(1.05);
                    transition: transform 1500ms;
                }
            }
        }

    }
}

