@mixin btn-pink {
    padding: 1.5rem 3rem;
    text-align: center;
    background:map-get($color-backgrdPinkBtn, std);
    width: min-content;
    white-space: nowrap;
    margin: 4rem auto;
    border-radius: 30px;
    box-shadow: 0.5em 0.625em 0.938em grey;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background:map-get($color-backgrdPinkBtn, light);
    }

    & a {
        color: white;
        text-decoration: none;
    }
}

@mixin description__titre {
    font-size: 1.5em;
    color: black;
    margin: 0.3em 0 0.3em;
}

@mixin menu-restaurant__cateogoriePlat {
    font-weight:normal;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0.8em;
}

@mixin menu-restaurant__cateogoriePlat--soulignement ($couleur) {
    width: 40px;
    height: 0.25em;
    background-color: $couleur;
    margin-top:0;
    margin-left: 1em;
    padding: 0;
    //margin-left: 5vw;
}

