// Bouton genéral de validation
@mixin btn-pink {
    padding: 1.5rem 3rem;
    text-align: center;
    background:map-get($color-backgrdPinkBtn, std);
    width: min-content;
    white-space: nowrap;
    margin: 4rem auto;
    border-radius: 30px;
    box-shadow: 0.5em 0.625em 0.938em grey;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background:map-get($color-backgrdPinkBtn, light);
    }

    & a {
        color: white;
        text-decoration: none;
    }
}

// Format du nom restaurant dans la liste des restaurants
@mixin description__titre {
    font-size: 1.5em;
    color: black;
    margin: 0.3em 0 0.3em;
}

// Format du titre du type de plat dans les menus
@mixin menu-restaurant__cateogoriePlat {
    font-weight:normal;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0.8em;
}

// Soulignement du titre du type de plat dans les menus
@mixin menu-restaurant__cateogoriePlat--soulignement ($couleur) {
    width: 40px;
    height: 0.25em;
    background-color: $couleur;
    margin-top:0;
    margin-left: 1em;
    padding: 0;
}

// mode d'affichage max mobile
@mixin max-mobile {

    @media screen and (max-width: map-get($resolutionDisplay, max-mobile)) {
        @content;
    }
}

// mode d'affichage max tablet
@mixin max-tablet {

    @media screen and (min-width: map-get($resolutionDisplay, max-mobile)) and (max-width: map-get($resolutionDisplay, max-tablet)) {
        @content;
    }
}

// mode d'affichage max écran
@mixin max-desktop {

    @media screen and (min-width: map-get($resolutionDisplay, max-tablet)) and (max-width: map-get($resolutionDisplay, max-desktop)) {
        @content;
    }

}

// mode d'affichage Minimum personalisé
@mixin mode-customizeMin ($resolution-display) {

    @media screen and (min-width: $resolution-display) {
        @content;
    }
}

// mode d'affichage Maximum personalisé
@mixin mode-customizeMax ($resolution-display) {

    @media screen and (max-width: $resolution-display) {
        @content;
    }
}

// mode d'affichage Minimum-maximum personalisé
@mixin mode-customizeMinMax ($resolution-displaymin, $resolution-displaymax) {

    @media screen and (min-width: $resolution-displaymin) and (max-width: $resolution-displaymax) {
        @content;
    }
}

//picto de l'ordre de fonctionnement
@mixin picto-purple {
    position: relative;
    right:1em;
    border-radius: 50%;
    background: $color-primary;
    color: white;
    font-size: 1em;
    padding:0 8px;
}

//bouton Picto Coeur dégradé
@mixin btn-pictoHeart {
    position: absolute;
    transform: translateY(-89%) scaleY(0.4);
    cursor: pointer;
    opacity:0;

    .icon-gradient:before {
        background: map-get($color-backgrdPinkBtn, std);
        -webkit-background-clip: text; // TODO
        color: transparent;
    }
}


