// Variables Global 
$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiaryDark : darken($color-tertiary, 40%);

// Couleur arrière plan Gris avec les nuances
$color-backgroundGrey: #eaeaea;
$color-backgrdGreyDark : darken($color-backgroundGrey,10%);
$color-backgrdGreyLight : lighten($color-backgroundGrey,4%);
$color-inconGreyDark : darken($color-backgroundGrey,40%);
$color-backgrdFooter : darken($color-backgroundGrey, 68%);

$color-backgrdGrey : (
    std : #eaeaea,
    dark : darken($color-backgroundGrey,10%),
    light : lighten($color-backgroundGrey,4%),
    iconDark: darken($color-backgroundGrey,40%),
    backgroundFooter : darken($color-backgroundGrey, 68%)
);

// couleur arriere plan du bouton général de validation
$color-backgroundPinkBtn :linear-gradient(162deg,$color-secondary 0%,$color-primary 100%);
$color-backgroundPinkBtnLight : linear-gradient(162deg,$color-secondary 50%,$color-primary 100%);

$color-backgrdPinkBtn : (
    std: linear-gradient(162deg,$color-secondary 0%,$color-primary 100%),
    light :  linear-gradient(162deg,$color-secondary 50%,$color-primary 100%)
);


// Breakpoints des modes d'affichge MOBILE FIRST, TABLETTE, ORDINATEUR 
$max-mobile: 698px;
$max-deskop: 1450px;
$max-tablet: 972px;

$resolutionDisplay : (
    max-mobile: 698px,
    max-deskop: 1450px,
    max-tablet: 972px,
);