// Variables Global 
$color-primary : #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiaryDark : darken($color-tertiary, 40%);
$color-secondaryLight :lighten($color-secondary,10%);

// Couleur arrière plan Gris avec les nuances
$color-backgroundGrey: #eaeaea;
$color-backgrdGrey : (
    std : #eaeaea,
    dark : darken($color-backgroundGrey,10%),
    light : lighten($color-backgroundGrey,4%),
    iconDark: darken($color-backgroundGrey,40%),
    backgroundFooter : darken($color-backgroundGrey, 68%)
);

// couleur arriere plan du bouton général de validation
$color-backgrdPinkBtn : (
    std: linear-gradient(162deg,$color-secondary 0%,$color-primary 100%),
    light :  linear-gradient(162deg,$color-secondary 50%,$color-primary 100%)
);

// Breakpoints des modes d'affichge MOBILE FIRST, TABLETTE, ORDINATEUR 
$resolutionDisplay : (
    max-mobile: 768px,
    max-tablet: 992px,
    max-desktop: 1550px
);

// Redimension des articles restaurants dans le listing
$size-restaurantWidth : (mobile: 100%, tablette:342px, desktop:490px)