/* landing page index */

/*bar de localisation */
#Geo-localisation {
    display: flex;
    background-color: $color-backgroundGrey;
    padding: 0.1em;
    justify-content: center;
    border-top: 5px solid $color-backgrdGreyDark;

    & h3 {
        align-content: center;
        font-size: 1.6em;
    }

    & i {
        margin-right: 0.8em;
    }
}

/* Bar de titre*/
main >div {
    background: $color-backgrdGreyLight;
    padding-top: 4em;
    padding-bottom: 0.1em;

    & h2 {
        margin:0em;
    }
}

#Titre {
    text-align: center;

    & h2 {
        @extend %size-title;
    }

    p {
        font-size: 1.6em;
        font-weight: lighter;
    }
}

/* bar de fonctionnement */
#Fonctionnement {
    margin: 1.2em;

    & h2 {
        @extend %size-title;
    }

    ol li {
        background: $color-backgrdGreyLight;
        padding: 0.2em 0.1em 0.2em 0.2em;
        margin : 0.4em 0 1.563em 0;
        box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
        border-radius: 1rem;
        align-items: center;
        font-size: 1.7em;
        font-weight: bold;
    }

    & i {
        color: $color-inconGreyDark;
        padding: 0.6em 1em 0.6em 0.2em;
    }
}

/* Listing des restaurants */
#Listing-restaurants {
    margin-top: 6.25em;
    margin-right: 1.2em;
    padding: 1em;
    background: $color-backgrdGreyLight;

    h2 {
        @extend %size-title;
    }

    > div {
       display: flex;
       flex-wrap: wrap;
    }

    & a {
        width: 100%;
        min-width: 2.3rem;
        border-radius: 2rem;
        margin : 1em 0 1em 0;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        cursor: pointer;
        position: relative;
        transition: filter 0.2s ease-in-out, 
        box-shadow 0.2s ease-in-out;
        text-decoration: none;
    }

    & .Listing-restaurant__tagNouveau {
        background : $color-tertiary;
        color: $color-tertiaryDark;
        padding: 0.5rem;
        position: absolute; 
        top: 1.8rem;
        right: 0.9rem;;
    }

    img {
        height: 12em;
        object-fit: cover;
        width: 100%;
        border-radius: 2rem 2rem 0 0;
    }

    .dl__description {
        display:flex;
        justify-content: space-between;
    }

    .dl__description dt {
        margin-left: 1.5em;
    }

    .dl__description__titre--bold{
        @include description__titre;
        font-weight: bold;
    }

    .dl__description__titre--light {
        @include description__titre;
        font-weight: lighter;
    }

}

