/* page des menus restaurants */

/* disposition du header */
/* bouton retour sur les pages de menus */
header {
    a {
        text-decoration: none;
        color: map-get($color-backgrdGrey,iconDark);
        & i {
            position: absolute;
            top: 0.3em;
            left: 0.05em;
        }
    }
}

/* Bar entete Restaurant */
#Nom-restaurant {
    display: block;
    img {
        height: 18.125em;
        width: 100%;
        object-fit: cover;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top-left-radius: 40px 40px;
        border-top-right-radius: 40px 40px;
        transform: translateY(-2.5em);
        margin-bottom: -3.6em;
        padding: 0.313em 1.563em;
        padding-left: 0.8em;
        background-color: map-get($color-backgrdGrey, light);
        font-family: shrikhand, cursive;
        font-size: 1.3em;
    }

        & i {
            padding-top: 0.476em;
        }
}

/* menu carte du Restaurant */

.menu-restaurant {
    background: map-get($color-backgrdGrey,light);

    h2 {
        margin-top: 0;
        padding-top: 1em;
        @include menu-restaurant__cateogoriePlat;
    }

    > .menu-restaurant__typePlat--souligne {

        @include menu-restaurant__cateogoriePlat--soulignement($color-tertiary);
    }

    > div {
        display: flex;
        flex-direction: column;
        margin-left: 5px;

        article {
            display: flex;
            border-radius: 2rem;
            margin : 0.5em 0;
            padding-left: 20px;
            //box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
            //box-shadow: 10px 5px 5px gray;
            box-shadow: 4px 9px 13px -3px rgba(0,0,0,0.55);
            transition: filter 0.2s ease-in-out, 
            box-shadow 0.2s ease-in-out;
            cursor: pointer;
            overflow:hidden;
            width: 93%;
            
            .filtre {
                display: none;
            }

            .plat {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                dl {
                    display: block;
                    width: 96%;

                    dt {
                        font-weight: bold;
                        font-size: 1.5em;
                        padding-top: 0.8em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
    
                    .descriptionPlat {
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.2em;

                        .descriptionPlat__information {
                            margin-top: 0.4em;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
    
                        .descriptionPlat__prix {
                            font-weight: bolder;
                            font-size: 1.2em;
                            margin-right: 1em;
                        }
                    }
                }
            }

            .check {
                background: $color-tertiary;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                padding-top: 52px;
                padding-left: 2%;
                padding-right: 2%;
                color: white;
                margin-right: -6rem;
                transition: all 1s;
               > i {
                   transform: rotate(0turn);
               }
            }
        }
    }
}

