// Déclaration de Variable Global 
$color-primaryPurple : #9356DC;
$color-secondarayPink: #FF79DA;
$color-tertiaryGreen: #99E2D0;

// Déclaration des breakpoints des modes d'affichge MOBILE FIRST, TABLETTE, ORDINATEUR 
$max-mobile: 698px;
$max-deskop: 1450px;
$max-tablet: 972px;